*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 50px;
}

.mainContainer {
    width: 560px;
    height: 70vh;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(70px);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer::after {
    position: absolute;
    content: '';
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: aqua;
    left: -40%;
    top: -4%;
    filter: blur(130px);
}

.mainContainer::before {
    position: absolute;
    content: '';
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(255, 0, 149);
    bottom: -4%;
    right: -40%;
    filter: blur(130px);
}

.info h2 {
    color: #eee;
}


.info {
    height: auto;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.205);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
    justify-self: flex-start;
}

.mainFunctionality {
    width: 100%;
    margin-top: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25%;
}

.controls, .clockMode {
    color: #eee;
    display: flex;
    justify-content: space-around;
}

.controls {
    width: 100%;
    font-size: 27px;
}

.clockMode {
    width: 100%;
    font-size: 20px;
}

.digitalClock {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 3%;

}

.time {
    font-size: 43px;
}

#datePipe {
    margin: 5px;
}

.date {
    margin-bottom: 12px;
}

.pomodoroClock {
    color: #eee;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 63px;
}

#spaceBetween {
    margin: 0 20px;
}

.pomodoro, .shortBreak, .longBreak {
    cursor: pointer;
}

.stop, .start, .skip {
    position: relative;
    cursor: pointer;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: rgb(4, 255, 4); 
    transition: all 300ms ease-in-out;
}

.underline:hover::after {
    width: 70%;
    left: 15%;
}

.glow {
    font-size: 23px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

@media (max-width: 585px) {
    .mainContainer {
        width: 460px;
    }
}